In [1]:
import pandas as pd

In [3]:
url = "http://apmonitor.com/che263/uploads/Main/tclab.txt"
x = pd.read_csv(url)

In [4]:
print(x.head())

   Time (sec)   Heater 1  Heater 2  Temperature 1  Temperature 2
0    0.000000  70.204573       0.0          21.09          19.71
1    3.002566  70.204573       0.0          21.06          19.74
2    6.051028  70.204573       0.0          21.00          19.74
3    9.053199  70.204573       0.0          21.16          19.74
4   12.052579  70.204573       0.0          21.19          19.74

In [5]:
s = x.describe()
print(s)

       Time (sec)    Heater 1    Heater 2  Temperature 1  Temperature 2
count  201.000000  201.000000  201.000000     201.000000     201.000000
mean   300.309241   59.785477   27.056456      45.492637      30.445224
std    174.681315   36.716888   31.313092       8.618061       6.704408
min      0.000000    0.912421    0.000000      21.000000      19.640000
25%    150.143891   29.646147    0.000000      45.750000      22.770000
50%    300.224662   71.736706   14.628027      48.580000      32.530000
75%    450.506598   96.130497   52.622061      50.710000      36.430000
max    600.572713   96.827185   76.807626      53.960000      38.690000

In [7]:
my_file = s.to_excel('test.xlsx')

print(my_file)

None

In [14]:
data1 =  ["90129991" ,"MITT1_002" ,"Mityana Test2","056056002","0","15 days ago","09/19/2019"]
data2 = [ "90179137","MITT1_003","Mityana Test3","056056003","0","15 days ago","09/19/2019" ]

formated_data = [data2,data2]

pd_data = pd.DataFrame(
    formated_data, 
    columns=["RFID", "TAG_NO", "CARD_OWNER", "SHORT_ID", "BALANCE", "UPDATED_TIME", "DAY"])

pd_data.index +=1  # preventing indexing from zero

pd_data.to_excel("generated_files/formated_data.xlsx")
print("Done Successfully")

Done Successfully

In [10]:
from flask import send_from_directory

In [28]:
ken = "kenneth.bob.him"
print(ken.rsplit('.',1)[1].upper())

HIM

In [29]:
print(pd_data.head())

       RFID     TAG_NO     CARD_OWNER   SHORT_ID BALANCE UPDATED_TIME  \
0  90129991  MITT1_002  Mityana Test2  056056002       0  15 days ago
1  90179137  MITT1_003  Mityana Test3  056056003       0  15 days ago

          DAY
0  09/19/2019
1  09/19/2019

In [15]:
from flask_cors import CORS
print("done boss")

done boss

In [11]:
import pandas as pd

df = pd.read_excel("generated_files/formated_data.xlsx", "Sheet1")


formated_data = [ "test","for","Appending","Data","0","15 days ago","09/19/2019" ]

pd_new_data = pd.DataFrame(
    [formated_data], 
    columns=["RFID", "TAG_NO", "CARD_OWNER", "SHORT_ID", "BALANCE", "UPDATED_TIME", "DAY"])

df = df.append(pd_new_data)

df

,BALANCE,CARD_OWNER,DAY,RFID,SHORT_ID,TAG_NO,UPDATED_TIME,Unnamed: 0
0,0,Mityana Test3,09/19/2019,90179137,56056003,MITT1_003,15 days ago,1.0
1,0,Mityana Test3,09/19/2019,90179137,56056003,MITT1_003,15 days ago,2.0
0,0,Appending,09/19/2019,test,Data,for,15 days ago,NaN

In [ ]:
import pandas as pd

data = pd.read_excel("MUBENDE_RFID.xlsx", sheet_name="Sheet1")

data.to_dict(orient='records')